{% extends 'finder/base.html' %}
{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-4">
            <div class="card">
                <h3 class="card-title">
                    Изменение пароля
                </h3>
                <div class="card-body">
                    {% csrf_token %}
                     <p>Введите ваш Email</p>
                    <input type="email" name="email">
                    <button type="submit" class="btn btn-success">
                        Запросить новый пароль
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}