{% extends 'finder/base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <a class="btn btn-primary mb-4 md-4" href="{% url 'finder:article_create' %}" role="button">Добавить документ</a>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for article in object_list %}
            {% if user == article.owner %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="form-control">{{ article }}</h5>
                        <p>{{ article.rubrics }}</p>
                        <p>{{ article.text }}</p>
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'finder:article_detail' article.pk %}"
                               role="button">Посмотреть</a>
                            <a class="btn btn-primary" href="{% url 'finder:article_update' article.pk %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-danger" href="{% url 'finder:article_delete' article.pk %}"
                               role="button">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}